@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
    position:absolute;
    display:block;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
}

/* CertificateImage div  */
.assetsContainer {
    z-index: 100;
    position: fixed;
    left: 50%;
    top: 50%;   
    transform: translate(-50%, -50%);

    width: 90%;
    height: 90%;

    justify-content: center;
    text-align: center;
    align-items: center;
}

body {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}